<h1>Eat That Burger!</h1>

<h2>Burgers waiting to be devoured!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>


<h2>These burgers are in your stomach!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<li>
	{{name}}

	<button class="eat" data-id="{{id}}" data-neweat="{{devoured}}">
		{{#if devoured}}Vomit!{{else}}Eat Me!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Cancel Order!</button>
</li>

<h2>What's your favorite burger?</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>


  <button type="submit">Order Burger</button>
</form>



