<li>
	{{name}}

	<button class="eat" data-id="{{id}}" data-neweat="{{devoured}}">
		{{#if devoured}}Eat Me!{{else}}Vomit!{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">Cancel Order!</button> --}}
</li>